<!DOCTYPE html>
<html lang="en">
<head>
    <style>
      body{
        background-color: aliceblue;
      }

      button{
        float: left;
        padding: 5px;
        margin: 12px;
        cursor: pointer;
      }

      table{
        border: 2px double black;
      }

      th{
      padding-left: 5px;
      padding-right: 5px;
      background-color:antiquewhite;
      font-size: 20px;
    }

    td{
      text-align: center;
      padding:15px;
      font-size:20px;
      background-color: white;
    }

      .button {
      background-color:lightgray;
      color: black;
      padding: 10px 10px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width:150px;
      border-radius: 15px;
      font-weight: bold;
      font-size:16px;
      border: 2px solid black;
      margin-left: 50px;
    }
    .button:hover {
      opacity: 0.8;
      background-color: black;
      color:white;
    }
    </style>
</head>

<body>
  <div class="container-fluid">
    <div class="alert alert-secondary text-center">
      <h1 style="margin-left: 50px;">View all Menu Items from Database</h1>
    </div>
    <button type="button" class="button" onclick="Back()">Back</button><br/><br/><br/>
    <ul>
      <table style= "border-collapse: collapse;" border = "1">
        <h2>Foods</h2>
        <th>Item Name</th>
        <th>Item Price</th>
        <th>Item ID</th>
        <% foodmenu.forEach(function(food) { %>
          <tr>
            <td><%= food.item_name %></td>
            <td><%= food.item_price %></td>
            <td><%= food.item_id %></td>
          </tr>
        <% }); %>
    </ul>
    <ul>
      <table style= "border-collapse: collapse;" border = "1">
        <h2>Drinks</h2>
        <th>Item Name</th>
        <th>Item Price</th>
        <th>Item ID</th>
      <% drinkmenu.forEach(function(drink) { %>
        <tr>
          <td><%= drink.item_name %></td>
          <td><%= drink.item_price %></td>
          <td><%= drink.item_id %></td>
        </tr>
      <% }); %>
    </ul>
    </div>
    <script>
      function Back()
      {
        location.href = "managerPage.html";
      }
    </script>
</body>
</html>
