<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body{
      background-color: aliceblue;
    }

    th{
      padding-left: 5px;
      padding-right: 5px;
      font-size: 20px
    }
    
    td{
      text-align: center;
    }

    input[type=text] {
      border:none;
      outline:none;
      font-size: 20px;
    }

    .buttonDel {
      width: 100%;
      color: white;
      background-color: darkred;
      border: none;
      font-size: 20px;
    }

    .buttonDel:hover {
      background-color: red;
    }

    th{
      background-color:antiquewhite;
    }
    
    .button {
      background-color:lightgray;
      color: black;
      padding: 10px 10px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width:150px;
      border-radius: 15px;
      font-weight: bold;
      font-size:16px;
      border: 2px solid black;
    }
    .button:hover {
      opacity: 0.8;
      background-color: black;
      color:white;
    }

  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="alert alert-secondary text-center">
      <h1 style="margin-left: 50px;">All Concurrent Orders In The Kitchen</h1>
      <div style="margin-left: 50px; display: inline-block;">
      <form id="searchOrderForm" action="/searchOrder" method="post">
        <label for="tableNumber"><b>Search By Table Number:</b></label><br/>
        <input type="text" placeholder="Table Number" id="tableNumber" name="tableNumber" style="border: 1px solid black; border-radius: 15px;" required><br/><br/>
        <button type="submit" class="button">Search Order</button>
        <button type="button" class="button" onclick="Back()">Log Out</button><br/>
      </form>
    </div>
    </div>
    <ul>
      <table style= "float:left; border-collapse: collapse;" border ="1">
        <th>Table Number</th>
        <th>Food Order</th>
        <th>Change Quantity</th>
        <th>Change Order Status</th>
        <th>Delete Order</th>
        <%var i = 1; %>
        <% kitchenorder.forEach(function(order) { %>
        <tr>
          <form id="editOrderStatusForm<%= i %>" method="post">
            <input type="hidden" name="quantity" id="quantity" value="<%= order.quantity %>" readonly />
            <input type="hidden" name="order_status" id="order_status" value="<%= order.order_status %>" readonly />
            <td><input type="text" name="tableNumber" id="tableNumber" value="<%= order.table_no %>" readonly /></td>
            <td><input type="text" name="itemName" id="itemName" value="<%= order.food_order %>" readonly /></td>
            <td>
              <select name="editQty" id="editQty" style="width: 100%; font-size: 20px; border: none;" onchange="document.getElementById('editOrderStatusForm<%= i %>').action='/editOrder'; this.form.submit()">
                <option value="<%= order.quantity %>"><%= order.quantity %></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </td>
            <td>
              <select name="editStatus" id="editStatus" style="width: 100%; font-size: 20px; border: none;" onchange="document.getElementById('editOrderStatusForm<%= i %>').action='/editOrderStatus'; this.form.submit()">
                <option value="<%= order.order_status %>"><%= order.order_status %></option>
                <option value="new order">New Order</option>
                <option value="in preparation">In Preparation</option>
                <option value="ready to serve">Ready To Serve</option>
              </select>
            </td>
            <td><button type="button" class="buttonDel" onclick="document.getElementById('editOrderStatusForm<%= i %>').action='/deleteOrder'; this.form.submit()">Delete</button></td>
          </form>
        </tr>
        <% i++; %>
        <% }); %>
      </table>
    </ul>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <script>
      function Back()
      {
        location.href = "loginPage.html";
      }
    </script>
</body>
</html>
